@import '~node_modules/modern-normalize/modern-normalize.css';
// --------------------------------------------- customized scrollbar ------
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: goldenrod;
}

::-webkit-scrollbar-thumb {
    background-color: $accentColor;
    border-radius: 5px;
    box-shadow: 0 -100vh 0 100vh $themePrimaryColor, 0 10 15px 5px black;
}
// -------------------------------------------------------------------------
body {
  background-color: $themePrimaryColor;
  color: $txtPrimaryColor;
  font-family: 'Montserrat', 'Seymour One', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  cursor: url(../images/header-hero/Cursor1.png), pointer;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
