@import '~node_modules/modern-normalize/modern-normalize.css';
body {
    // background-color: $bgdPrimaryColor;
    color: $txtPrimaryColor;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Seymour One', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}