@mixin phone {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}

@mixin font($fw, $fs, $lh, $ls) {
  font-weight: $fw;
  font-size: $fs + px;
  line-height: $lh;
  letter-spacing: $ls;
}
@mixin flex($flx: flex,
  $fd: row,
  $fw: wrap,
  $ac: normal,
  $ai: center,
  $jc: center) {
  display: $flx;
  flex-direction: $fd;
  flex-wrap: $fw;
  align-content: $ac;
  align-items: $ai;
  justify-content: $jc;
}