%list {
  padding: 0;
  margin: 0;
  list-style: none;
}
%link {
  text-decoration: none;
  color: inherit;
}
%visually-hidden {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}
%outline {
  outline: 2px dashed #f44336;
}
%container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
