%list {
  padding: 0;
  margin: 0;
  list-style: none;
}

%link {
  text-decoration: none;
  color: inherit;
}

%visually-hidden {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

%mainAnime {
  transition-property: color, transform, background-color, box-shadow;
  transition-duration: 500ms;
  transition-timing-function: $cubicBezier;
}

%outline {
  outline: 2px dashed #f44336;
}

%container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  @media screen and (min-width: 480px) {
    .container {
      width: 480px;
    }
  }
  @media screen and (min-width: 768px) {
    .container {
      padding: 0 32px;
      width: 768px;
    }
  }
  @media screen and (min-width: 1200px) {
    .container {
      padding: 0 16px;
      width: 1200px;
    }
  }
}

%button-full {
  border: 2px solid transparent;

  background-color: $accentColor;
  color: $btnMainСolor;

  &:hover {
    background-color: $btnHoverColor;
  }

  &:focus {
    color: $btnFocusColor;
    background-color: $btnHoverColor;
  }

  &:disabled {
    background-color: $btnDisableColor;
  }
}

%button-bordered {
  color: $btnMainСolor;
  background-color: transparent;
  border: 2px solid $accentColor;

  &:hover {
    border: 2px solid $btnHoverColor;
  }
}

%button-transparent {
  color: $accentColor;
  text-decoration-line: underline;
  background-color: transparent;
  border: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $btnMainСolor;
  }

  &:hover {
    color: $btnHoverColor;
  }

  &:focus {
    color: $txtSecondaryColor;
  }

  &:disabled {
    color: $btnDisableColor;
  }
}

html {
  scroll-behavior: smooth;
}
