// basic colors:
$themePrimaryColor: #84a178; // основний колір теми
$txtPrimaryColor: #131313; // осноний колір тексту
$txtSecondaryColor: #fcfcfc; // другорядний колір тексту
$accentColor: #f8d24e; // колір акценту
$addrColor: #d6936d; // колір тексту фізичної адреси
$modalBgdColor: #fcfcfc; // колір бекграунду модальних вікон
$cprtColor: #7a7a7a; // колір copyright у футері

// product colors:  основні кольори карток продуктів
$iceCreamColor: #aec6a5;
$iceCoffeeColor: #efd478;
$milkshakeColor: #d6936d;

// button colors -- кольори кнопок
$btnHoverColor: #0a8817; // при ховері та фокусі
$btnDisableColor: #ababab; // неактивна кнопка та години роботи у контактах
$sldrDotColor: #d9d9d9; // дотси у слайдері некативні

// functions
$cubicBezier: 0.4, 0, 0.2, 1; // параметри для функції cubic-bezier
