<div class="modal-readmore">
  <button
    type="button"
    class="modals-close__button modals-close__button--position"
  >
    <svg class="modals-close__icon" width="20" height="20">
      <use href="./images/icons/icons.svg#icon-close"></use>
    </svg>
  </button>

  <h1 class="modal-readmore__title">How it’s made?</h1>

  <iframe
    class="modal-readmore__video"
    src="https://www.youtube.com/embed/hO-7cz7gyAY"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>

  <p class="modal-readmore__dscr">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>
