<div class="modal-buynow">
  <button type="button" class="modals-close__button modals-close__button--position">
    <svg class="modals-close__icon" width="20" height="20">
      <use href="./images/icons/icons.svg#icon-close"></use>
    </svg>
  </button>
  <h1 class="modal-buynow__header">Buy Now</h1>
  <form name="input details" class="modal-buynow__form" action="">
    <div class="modal-buynow__picture">
      <label for="modal-buynow__item-check" class="modal-buynow__label">
        <input
          type="checkbox"
          name="modal-buynow__checkbox"
          class="modal-buynow__checkbox"
          id="modal-buynow__item-check"
          value="modal-buynow__checkbox"
        />
        <img
          srcset="
            ./images/modals/ice-cream-modal.png     1x,
            ./images/modals/ice-cream-modal-@2x.png 2x
          "
          width="132"
          height="132"
          class="modal-buynow__img"
          src="./images/modals/ice-cream-modal.png"
          alt="chocolate icecream"
        />
        <div class="modal-buynow__background modal-buynow__background--color"></div>
        <div class="modal-buynow__rectangle modal-buynow__rectangle--color"></div>
      </label>
    </div>

    <div class="modal-buynow__picture">
      <label for="modal-buynow__item-check2" class="modal-buynow__label">
        <input
          type="checkbox"
          name="modal-buynow__checkbox"
          class="modal-buynow__checkbox"
          id="modal-buynow__item-check2"
          value="modal-buynow__checkbox"
        />
        <img
          srcset="
            ./images/modals/ice-coffee-modal.png     1x,
            ./images/modals/ice-coffee-modal-@2x.png 2x
          "
          width="132"
          height="132"
          class="modal-buynow__img"
          src="./images/modals/ice-coffee-modal.png"
          alt="chocolate icecream"
        />
        <div class="modal-buynow__background modal-buynow__background--color2"></div>
        <div class="modal-buynow__rectangle modal-buynow__rectangle--color2"></div>
      </label>
    </div>

    <div class="modal-buynow__picture">
      <label for="modal-buynow__item-check3" class="modal-buynow__label">
        <input
          type="checkbox"
          name="modal-buynow__checkbox"
          class="modal-buynow__checkbox"
          id="modal-buynow__item-check3"
          value="modal-buynow__checkbox"
        />
        <img
          srcset="
            ./images/modals/milkshake-modal.png     1x,
            ./images/modals/milkshake-modal-@2x.png 2x
          "
          width="132"
          height="132"
          class="modal-buynow__img"
          src="./images/modals/milkshake-modal.png"
          alt="chocolate icecream"
        />
        <div class="modal-buynow__background modal-buynow__background--color3"></div>
        <div class="modal-buynow__rectangle modal-buynow__rectangle--color3"></div>
      </label>
    </div>

    <div class="modal-buynow__field">
      <input
        type="text"
        name="name"
        id="name"
        class="modal-buynow__input"
        autocomplete="name"
        placeholder="Name"
        required
      />
    </div>
    <div class="modal-buynow__field">
      <input
        type="text"
        name="phone"
        id="phone"
        class="modal-buynow__input"
        autocomplete="phone"
        placeholder="Phone"
        required
      />
    </div>
    <div class="modal-buynow__field">
      <textarea
        type="text"
        name="comment"
        id="comment"
        class="modal-buynow__textarea"
        autocomplete="none"
        placeholder="Comment"
      ></textarea>
    </div>
    <button type="submit" class="modal-buynow__submit">Submit</button>
  </form>
</div>
