<button type="submit" class="js-open-modal" data-modal="4">Our location</button>

<div class="modal-ourlocation modal----" data-modal="4">
  <button type="button" class="modals-close__button modals-close__button--position js-modal-close">
    <svg class="modals-close__icon" width="20" height="20">
      <use href="./images/icons/icons.svg#icon-close"></use>
    </svg>
  </button>

  <h1 class="modal-ourlocation__header">Our Locations</h1>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10343.236515614097!2d34.52499062543318!3d49.601348770872264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825fd0f56ec83%3A0x16f7458ea3efbf3e!2z0J_QsNCy0LvQtdC90LrQuCwg0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1suk!2sua!4v1673747286162!5m2!1suk!2sua"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    class="modal-ourlocation__map"
  ></iframe>

  <button type="submit" class="button modal-ourlocation__submit button__submit button--full">
    <span>Open map</span>
  </button>
</div>
