.modal-buynow {
  @extend %container;
  // @extend %outline;
  // z-index: 886;
  padding: 0 28px;

  @include phone {
    padding: 0 26px;
  }
  @include tablet {
    padding: 0 38px;
  }

  // position: relative;

  //   background-color: $modalBgdColor;

  box-sizing: border-box;

  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;

  @media screen and (max-width: 767px) {
    width: 280px;
  }

  @include tablet {
    width: 568px;
  }

  &__header {
    @extend %h1-modals;
    width: 142px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      width: auto;
      margin-top: 32px;
      margin-bottom: 24px;
    }
  }

  &__products {
    @include tablet {
      display: flex;
    }
  }

  &__picture {
    position: relative;
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 87px;
    width: 132px;
    height: 132;

    &:last-child {
      margin-bottom: 98px;
    }

    @include tablet {
      &:not(:last-child) {
        margin-right: 32px;
      }
    }

    @media screen and (min-width: 768px) {
      //   margin-bottom: 31px;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    z-index: 888;
    display: block;
    cursor: url('../images/header-hero/Cursor1.png'), pointer;
  }

  &__background {
    display: block;

    position: absolute;
    top: 7px;
    z-index: 887;

    width: 132px;
    height: 132px;
    border-radius: 50%;

    &--color {
      background: linear-gradient(
          0deg,
          rgba(156, 190, 143, 0.7),
          rgba(156, 190, 143, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    }

    &--color2 {
      background: linear-gradient(
          0deg,
          rgba(248, 210, 78, 0.7),
          rgba(248, 210, 78, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
    }

    &--color3 {
      background: linear-gradient(
          0deg,
          rgba(213, 117, 63, 0.7),
          rgba(213, 117, 63, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
    }
  }

  &__checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__checkbox:checked ~ .modal-buynow__rectangle--color {
    background-color: #9cbe8fb2;
    border: none;
  }

  &__checkbox:checked ~ .modal-buynow__rectangle--color2 {
    background-color: #efd478;
    border: none;
  }

  &__checkbox:checked ~ .modal-buynow__rectangle--color3 {
    background-color: #d5753fb2;
    border: transparent;
  }

  &__rectangle {
    box-sizing: border-box;
    cursor: url('../images/header-hero/Cursor1.png'), pointer;
    position: absolute;
    top: 63px;
    // top: 2px;

    // display: flex;
    // flex-direction: column;
    // justify-content: end;

    width: 132px;
    height: 136px;

    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15px;

    &--color {
      //   border: 2px solid #96af8c;

      border-left: 2px solid #96af8c;
      border-right: 2px solid #96af8c;
      border-bottom: 2px solid #96af8c;
    }

    &--color2 {
      border: 2px solid #efd478;

      //   border-left: 2px solid #efd478;
      //   border-right: 2px solid #efd478;
      //   border-bottom: 2px solid #efd478;
    }

    &--color3 {
      //   border: 2px solid #d6936d;

      border-left: 2px solid #d6936d;
      border-right: 2px solid #d6936d;
      border-bottom: 2px solid #d6936d;
      //   border: none;
    }
  }

  &__text {
    position: absolute;
    z-index: 889;
    bottom: -45px;
    right: 0;
    cursor: url('../images/header-hero/Cursor1.png'), pointer;

    // display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    // margin-bottom: 18px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #131313;
  }

  &__form {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__field {
    display: block;
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
    }

    &:last-child {
      margin-bottom: 24px;
    }

    @include tablet {
      width: 368px;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 32px;
      }
    }
  }

  &__input {
    display: block;
    width: 100%;
    height: 32px;
    padding-left: 11px;

    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;

    @include tablet {
      height: 42px;
      padding-left: 16px;
      font-size: 14px;
    }

    &:invalid:not(:placeholder-shown) {
      background: rgba(218, 56, 2, 0.2);
    }
  }

  &__textarea {
    // padding: 12px 17px;
    width: 100%;
    height: 84px;
    resize: none;
    padding-left: 11px;
    padding-top: 8px;

    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;

    @include tablet {
      padding-left: 16px;
      padding-top: 11px;
      font-size: 14px;
    }
  }

  &__submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 29px;

    width: 114px;
    height: 42px;

    @include tablet {
      margin-bottom: 32px;
      width: 121px;
      height: 42px;
    }
  }
}
