<section class="section about">
  <div class="container">
    <div class="about__slogan">
        <label class="about__label" for="">TRADITION AND LOVE </label>
    <h2 class="about__title">HOW IT'S MADE?</h2>
    </div>
    <div class="about__picture">
      <picture class="picture__block"></picture>
    </div>
    <p class="about__text">
      Ice is a place where you will become not only a little happier, but also
      healthier. Health is the main value for us, and we follow it when creating
      our handmade desserts.
    </p>
    <p class="about__text">
      We use traditional recipes and 100% natural ingredients. Our products are
      so natural that they can be given to children from the age of three years.
      Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23
      milkshakes.
    </p>
    <p class="about__text about__text--none">
      This is enough to choose ice cream and coffee for any mood!
    </p>
  </div>
</section>
