<button type="button" class="hero-button">
    <span>Buy now</span> 
    <svg width="12" height="12" class="button__icon">
        <use href="./images/icons/icons.svg#icon-button"></use>
    </svg> </button>

    <button type="button" class="hero-button--bordered">
    <span>Buy now</span> 
    <svg width="12" height="12" class="button__icon">
        <use href="./images/icons/icons.svg#icon-button"></use>
    </svg> </button>
    <button type="button" class="hero-button--transparent">
    <span>Buy now</span> 
    <svg width="12" height="12" class="button__icon">
        <use href="./images/icons/icons.svg#icon-button"></use>
    </svg> </button>