<section class="benefits">
    <div class="container  benefits__container ">
      <ul class="benefits__list">
        <li class="benefits__item" >
            <a class="benefits__icon-cow " href=""></a>
            <h2 class="benefits__title value" akhi="721">0</h2>
            <p class="benefits__text"> Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
      
      
        <li class="benefits__item" >
            <a class="benefits__icon-weight" href=""></a>
            <!-- <svg  class="benefits__icon"> <use href="./images/icons/icons.svg#icon-advantages-weight"></use></svg> -->
            <h2 class="benefits__title" >16kg</h2>
            <p class="benefits__text"> Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
      
      
        <li class="benefits__item" >
            <a  class="benefits__icon-ice-cream" href=""></a>
            <!-- <svg  class="benefits__icon"> <use href="./images/icons/icons.svg#icon-advantages-ice-cream"></use></svg> -->
            <h2 class="benefits__title value" akhi="84">0</h2>
            <p class="benefits__text"> Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
      
    </div>
</section>