<!-- Файл доданий для перевірки та допомоги розробикам / після закінчення видалити -->

<!-- section hero -->
<!-- ---------------------------------- додав зразок оформлення по ВЕМ -->
<!-- <section class="hero">
  <container class="container">
    <p>кнопки для хиро</p>
    <button type="button" class="button hero__button button--full">
      <span>Buy now</span>
      <svg width="12" height="12" class="button__icon">
        <use href="./images/icons/icons.svg#icon-button"></use>
      </svg>
    </button>

    <button type="button" class="button hero__button button--bordered">
      <span>Products</span>
    </button>

    <button type="button" class="button hero__button button--transparent">
      <span>How its made?</span>
    </button>
  </container>
</section> -->
<!-- ----------------------------------- далі іде твій код ---------- -->

<!-- section hero -->
<section class="hero">
  <div class="container">
    <p>кнопки для hero</p>
    <button type="button" class="button hero__button button--full">
      <span>Buy now</span>
      <svg width="12" height="12" class="button__icon">
        <use href="./images/icons/icons.svg#icon-button"></use>
      </svg>
    </button>

    <button type="button" class="button hero__button button--bordered">
      <span>Products</span>
    </button>

    <button type="button" class="button button--transparent">
      <span>How its made?</span>
    </button>
  </div>

  <!-- section hero disabled-->
  <section class="hero">
    <div class="container">
      <p>кнопки для hero disabled</p>
      <button type="button" class="button hero__button button--full" disabled>
        <span>Buy now</span>
        <svg width="12" height="12" class="button__icon">
          <use href="./images/icons/icons.svg#icon-button"></use>
        </svg>
      </button>

      <button
        type="button"
        class="button hero__button button--bordered"
        disabled
      >
        <span>Products</span>
      </button>

      <button type="button" class="button button--transparent" disabled>
        <span>How its made?</span>
      </button>
    </div>

    <!-- Section Products -->
  </section>
  <section class="products">
    <div class="container">
      <p>кнопки для products</p>
      <button type="button" class="button button__arrow">
        <svg width="40" height="16" class="button__icon">
          <use href="./images/icons/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </section>

  <!-- Section about -->

  <section class="about">
    <div class="container">
      <p>кнопки для about</p>
      <button type="button" class="button about__button button--full">
        <span>Read more</span>
        <svg width="12" height="12" class="button__icon">
          <use href="./images/icons/icons.svg#icon-button"></use>
        </svg>
      </button>
    </div>

    <!-- Section contacts -->
    <section class="contacts">
      <div class="container">
        <p>кнопки для contacts</p>
        <button type="button" class="button contacts__button button--full">
          <span>Our Locations</span>
          <svg width="12" height="12" class="button__icon">
            <use href="./images/icons/icons.svg#icon-button"></use>
          </svg>
        </button>

        <button type="button" class="button contacts__button button--bordered">
          <span>Franchise</span>
          <svg width="12" height="12" class="button__icon">
            <use href="./images/icons/icons.svg#icon-button"></use>
          </svg>
        </button>
      </div>
    </section>

    <!-- Modal Buttons -->
    <section class="modals">
      <div class="container">
        <p>кнопки модалок</p>
        <!-- Hero -->
        <button type="submit" class="button button__submit button--full">
          <span>Submit</span>
        </button>
        <!-- Products -->
        <button
          type="submit"
          class="button button--full products__button--with-submit"
        >
          <span>Submit</span>
        </button>
        <!-- contacts -->

        <button
          type="button"
          class="button button--full contacts__button--with-map"
        >
          <span>Open map</span>
        </button>

        <button type="submit" class="button button--full button__submit">
          <span>Submit</span>
        </button>
      </div>
    </section>
  </section>
</section>
