<!-- Файл доданий для перевірки та допомоги розробикам / після закінчення видалити -->

<!-- section hero -->
<!-- ---------------------------------- додав зразок оформлення по ВЕМ -->
<section class="hero">
    <container class="container">
        <p>кнопки для хиро</p>
        <button type="button" class="button hero__button button--full">
            <span>Buy now</span>
            <svg width="12" height="12" class="button__icon">
                <use href="./images/icons/icons.svg#icon-button"></use>
            </svg>
        </button>

        <button type="button" class="button hero__button button--bordered">
            <span>Products</span>
        </button>

        <button type="button" class="button hero__button button--transparent">
            <span>How its made?</span>
        </button>
    </container>
</section>
<!-- ----------------------------------- далі іде твій код ---------- -->
<button type="button" class="button button--full hero-button">
    <span>Buy now</span>
    <svg width="12" height="12" class="button__icon">
        <use href="./images/icons/icons.svg#icon-button"></use>
    </svg>
</button>

<button type="button" class="button button--bordered hero-button">
    <span>Products</span>
</button>

<button type="button" class="button button--transparent">
    <span>How its made?</span>
</button>

<!-- Section Products -->

<button type="button" class="button button__arrow">
    <svg width="40" height="16" class="button__icon">
        <use href="./images/icons/icons.svg#icon-arrow"></use>
    </svg>
</button>

<!-- Section about -->
<button type="button" class="button button--full about-button">
    <span>Read more</span>
    <svg width="12" height="12" class="button__icon">
        <use href="./images/icons/icons.svg#icon-button"></use>
    </svg>
</button>

<!-- Section contacts -->

<button type="button" class="button button--full contacts-button">
    <span>Our Locations</span>
    <svg width="12" height="12" class="button__icon">
        <use href="./images/icons/icons.svg#icon-button"></use>
    </svg>
</button>

<button type="button" class="button button--bordered contacts-button">
    <span>Franchise</span>
    <svg width="12" height="12" class="button__icon">
        <use href="./images/icons/icons.svg#icon-button"></use>
    </svg>
</button>

<!-- Modal Buttons -->

<!-- Hero -->
<button type="submit" class="button button--full button__submit">
    <span>Submit</span>
</button>

<!-- contacts -->

<button type="button" class="button button--full contacts-button__map">
    <span>Open map</span>
</button>

<button type="submit" class="button button--full button__submit">
    <span>Submit</span>
</button>

<!-- Products -->
<button type="submit" class="button button--full products-button__submit">
    <span>Submit</span>
</button>
