<section  class="section">
  <div class="container">
   <h2 class="section-heading">Contacts</h2>
   <!-- Блок grid -->
   <ul class="grid">
    <li class="grid__item">
      <p class="contact__name">CAFE</p>
      
        <p  class="contact__town">Chicago </p>
        <article class=" contact__border">
          <address>
            <a class="contact__address" href="https://goo.gl/maps/66p5dvyxYWvd63es7" target="_blank" rel="nooper noreferrer nofollow"> 10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
           </address>
        </article>
        <article class="contact__border">
          <h3 class="contact__week-first">Monday - Friday </h3>
          <p class="contact__time" >06:00 AM - 10:00 PM </p>
          <h3 class="contact__week-second"> Saturday - Sunday</h3>
          <p class="contact__time" >08:00 AM - 16:00 PM</p>
        </article>
        <ul class="contact__nav">
          <li>
            <a class="contact__tel"  href="tel:+610383766284" >+61(0) 383 766 284</a>
            <a  class="contact__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
          
        </ul>
        
    </li>
    <li class="grid__item">
          <p class="contact__name">  FOODTRUCK</p>
      <p  class="contact__town">Chicago </p>
      <article class=" contact__border">
        <address>
          <a class="contact__address" href="https://goo.gl/maps/66p5dvyxYWvd63es7"  target="_blank" rel="nooper noreferrer nofollow"> 10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
         </address>
      </article>
      <article class="contact__border">
        <h3 class="contact__week-first">Monday - Friday </h3>
        <p class="contact__time" >06:00 AM - 10:00 PM </p>
        <h3 class="contact__week-second">Saturday - Sunday</h3>
        <p class="contact__time" >08:00 AM - 16:00 PM</p>
      </article>
      <ul class="contact__nav">
        <li>
          <a class="contact__tel" href="tel:+610383766284" >+61(0) 383 766 284 </a>
          <a  class="contact__mail"  href="mailto:noreply@envato.com"> noreply@envato.com</a>
        </li>
        
      </ul>
      
    </li>
   <li class="grid__item">
       <p class="contact__name"> CAFE</p>
       <p  class="contact__town"> Chicago </p>
     <article class=" contact__border">
      <address>
        <a class="contact__address" href="https://goo.gl/maps/66p5dvyxYWvd63es7" target="_blank" rel="nooper noreferrer nofollow"> 10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
       </address>
     </article>
     <article class="contact__border">
      <h3 class="contact__week-first">Monday - Friday </h3>
      <p class="contact__time" >06:00 AM - 10:00 PM </p>
      <h3 class="contact__week-second"> Saturday - Sunday</h3>
      <p class="contact__time" >08:00 AM - 16:00 PM</p>
     </article>
     <ul class="contact__nav">
       <li>
         <a class="contact__tel"  href="tel:+610383766284" >+61(0) 383 766 284</a>
         <a  class="contact__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
       </li>
      
     </ul>
    </li>
 </ul>
   
  </div>
</section>































































