<section class="contact" id="Contact">
  <include src="./partials/modals/modal-ourlocation.html"></include>
  <include src="./partials/modals/modal-franchise.html"></include>
  <div class="container contact__container">
    <h2 class="section-heading">Contacts</h2>
    <!-- Блок grid -->
    <ul class="grid">
      <li class="grid__item">
        <p class="contact__name">CAFE</p>

        <p class="contact__town">Chicago</p>
        <article class="contact__border">
          <address>
            <a
              class="contact__address"
              href="https://goo.gl/maps/66p5dvyxYWvd63es7"
              target="_blank"
              rel="nooper noreferrer nofollow"
            >
              10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </address>
        </article>
        <article class="contact__border">
          <h3 class="contact__week-first">Monday - Friday</h3>
          <p class="contact__time">06:00 AM - 10:00 PM</p>
          <h3 class="contact__week-second">Saturday - Sunday</h3>
          <p class="contact__time">08:00 AM - 16:00 PM</p>
        </article>
        <article class="contact__nav">
          <a class="contact__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contact__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </article>
      </li>
      <li class="grid__item">
        <p class="contact__name">FOODTRUCK</p>
        <p class="contact__town">Los Angeles</p>
        <article class="contact__border">
          <address>
            <a
              class="contact__address"
              href="https://goo.gl/maps/eBG6rKXy3hY6koFP8"
              target="_blank"
              rel="nooper noreferrer nofollow"
            >
              1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
            >
          </address>
        </article>
        <article class="contact__border">
          <h3 class="contact__week-first">Monday - Friday</h3>
          <p class="contact__time">06:00 AM - 10:00 PM</p>
          <h3 class="contact__week-second">Saturday - Sunday</h3>
          <p class="contact__time">08:00 AM - 16:00 PM</p>
        </article>
        <article class="contact__nav">
          <a class="contact__tel" href="tel:+610383766284">+61(0) 383 766 284 </a>
          <a class="contact__mail" href="mailto:noreply@envato.com"> noreply@envato.com</a>
        </article>
      </li>
      <li class="grid__item">
        <p class="contact__name">CAFE</p>
        <p class="contact__town">New York</p>
        <article class="contact__border">
          <address>
            <a
              class="contact__address"
              href="https://goo.gl/maps/mkFYVe6extoccHQK8"
              target="_blank"
              rel="nooper noreferrer nofollow"
            >
              726 Sterling Pl, Brooklyn, NY 11222, USA</a
            >
          </address>
        </article>
        <article class="contact__border">
          <h3 class="contact__week-first">Monday - Friday</h3>
          <p class="contact__time">06:00 AM - 10:00 PM</p>
          <h3 class="contact__week-second">Saturday - Sunday</h3>
          <p class="contact__time">08:00 AM - 16:00 PM</p>
        </article>
        <article class="contact__nav">
          <a class="contact__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contact__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </article>
      </li>
    </ul>
    <div class="btn__container">
      <button
        type="button"
        class="js-open-modal button contacts__button button--full"
        data-modal="4"
      >
        <span>Our Locations</span>
        <svg width="12" height="12" class="button__icon">
          <use href="./images/icons/icons.svg#icon-button"></use>
        </svg>
      </button>

      <button
        type="button"
        class="js-open-modal button contacts__button button--bordered"
        data-modal="5"
      >
        <span>Franchise</span>
        <svg width="12" height="12" class="button__icon">
          <use href="./images/icons/icons.svg#icon-button"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
