<!-- reviews -->
<section>
  <div class="container">
    <div class="reviews">
      <h2 class="reviews__header">Reviews</h2>
      <div class="reviews__slider">
        <div class="reviews__block">
          <img
            class="photo"
            src="./images/customer-reviews/customer1.png"
            alt="Customer Emily"
            width="85"
          />
          <p class="reviews__statement">
            I love visiting your cafe.<br />You prepare the most delicious ice
            cream in Los Angeles!<br />In addition, you have beautiful serving,
            cozy atmosphere and polite staff.
          </p>
          <p class="reviews__name">Emily, Los Angeles</p>
        </div>
        <div class="reviews__block">
          <img
            class="photo"
            src="./images/customer-reviews/customer2.png"
            alt="Customer Bryan"
            width="85"
          />
          <p class="reviews__statement">
            Every day we come to you with friends after classes in college.<br />We
            love your ice cream and casual atmosphere!
          </p>
          <p class="reviews__name">Bryan, New-York</p>
        </div>
        <div class="reviews__block">
          <img
            class="photo"
            src="./images/customer-reviews/customer3.png"
            alt="Customer Diana"
            width="85"
          />
          <p class="reviews__statement">
            Ice cream is my passion!<br />I love your chocolate hazelnut ice
            cream!<br />And I really like the excellent service - always served
            politely and quickly!
          </p>
          <p class="reviews__name">Diana, Chicago</p>
        </div>
      </div>
    </div>
  </div>
</section>
