<!---- reviews ---->

<section class="reviews">
    <div class="reviews__container">
        <div class="reviews__wrap">
            <h2 class="reviews__header">Reviews</h2>
            <div class="reviews__slider">
                <div class="reviews__block">
                    <img
                        class="reviews__photo lazyload"
                        srcset="
                            ./images/customer-reviews/customer1.png     1x,
                            ./images/customer-reviews/customer1-@2x.png 2x
                        "
                        data-src="./images/customer-reviews/customer1.png"
                        alt="Customer Emily"
                    />
                    <p class="reviews__statement">
                        I love visiting your cafe. You
                        prepare the most delicious ice cream
                        in Los Angeles! In addition, you
                        have beautiful serving, cozy
                        atmosphere and polite staff.
                    </p>
                    <p class="reviews__name">
                        Emily, Los Angeles
                    </p>
                </div>
                <div class="reviews__block">
                    <img
                        class="reviews__photo lazyload"
                        srcset="
                            ./images/customer-reviews/customer2.png     1x,
                            ./images/customer-reviews/customer2-@2x.png 2x
                        "
                        data-src="./images/customer-reviews/customer2.png"
                        alt="Customer Bryan"
                    />
                    <p class="reviews__statement">
                        Every day we come to you with
                        friends after classes in college. We
                        love your ice cream and casual
                        atmosphere!
                    </p>
                    <p class="reviews__name">
                        Bryan, New-York
                    </p>
                </div>
                <div class="reviews__block">
                    <img
                        class="reviews__photo lazyload"
                        srcset="
                            ./images/customer-reviews/customer3.png     1x,
                            ./images/customer-reviews/customer3-@2x.png 2x
                        "
                        data-src="./images/customer-reviews/customer3.png"
                        alt="Customer Diana"
                    />
                    <p class="reviews__statement">
                        Ice cream is my passion! I love your
                        chocolate hazelnut ice cream! And I
                        really like the excellent service -
                        always served politely and quickly!
                    </p>
                    <p class="reviews__name">
                        Diana, Chicago
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
