<footer class="footer">
    <div class="container ">
      <div class="footer-container">
        <div class="footer-container__text">
    <p class="footer-container__desc">homemade ice cream made</p>
    <p class="footer-container__desc--big">with passion</p>
  </div>
    <div class="footer__social">
        <ul class="footer__social--list items">
            <li class="footer__social--item item">
              <a href="" class="footer-social__link link">
                
                <svg class="footer__social--icon" width="34" height="34">
                    <use href="./images/icons"></use>
                  </svg>
                </a>
            </li>
            <li>
              <a href="" class="footer-social__link link">
                
                <svg class="footer__social--icon" width="34" height="34">
                    <use href="./images/icons.sv"></use>
                  </svg>
                </a>
            </li>
            <li>
              <a href="" class="footer-social__link link">
                
                <svg class="footer__social--icon" width="34" height="34">
                    <use href="./images/icons.s"></use>
                  </svg>
                </a>
            </li>
        </ul>
        <div class="footer__contact">
            <p class="footer__contact--desc">Feel free to contact</p>
            <a class="footer__contact--tel link" href="tel:+610383766284">+61 (0) 383 766 284</a>
        </div>
      </div>
    </div>
    
    <div class="footer__copyright">
        <p class="footer__copyright--first">&#169 2022 - IceCream.</p>
          <p class="footer__copyright--second"> All Rights Reserved.</p>
    </div>
  </div>
    </footer>