<footer class="footer">
  <div class="container footer-wrapper">

    <div class="footer-wrapper__text">
      <p class="footer-wrapper__desc">homemade ice cream made</p>
      <p class="footer-wrapper__desc--big">with passion</p>
    </div>
    <div class="social-links">
      <ul class="social-links__list items">
        <li class="social-links__item">
          <a
            href="https://github.com/"
            class="social-links__link link"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="social-links__icon" width="34" height="34">
              <use href="./images/icons/icons.svg#icon-footer-github"></use>
            </svg>
          </a>
        </li>
        <li class="social-links__item">
          <a
            href="https://web.telegram.org/"
            class="social-links__link link"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="social-links__icon" width="34" height="34">
              <use href="./images/icons/icons.svg#icon-footer-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social-links__item">
          <a
            href="https://www.facebook.com/"
            class="social-links__link link"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="social-links__icon" width="34" height="34">
              <use href="./images/icons/icons.svg#icon-footer-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="contacts">
        <p class="contacts__item contacts__item--with-desc">
          Feel free to contact
        </p>
        <a class="contacts__item contacts__item--with-tel" href="tel:+610383766284"
          >+61 (0) 383 766 284</a
        >
      </div>
    </div>
  </div>
  <div class="copyrights">
    <ul class="copyrights__list">
      <li class="copyrights__item copyrights__item--first">
        &#169; 2022 - IceCream.
      </li>
      <li class="copyrights__item copyrights__item--second">
        All Rights Reserved.
      </li>
    </ul>
    <!-- <p class="footer__copyright footer__copyright--first">&#169 2022 - IceCream.</p>
            <p class="footer__copyright footer__copyright--second"> All Rights Reserved.</p> -->
  </div>
</footer>
