<!----gallery---->
<section class="gallery">
  <div class="container">
    <h2 class="gallery__header">Gallery</h2>
    <div class="gallery__slider">
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="./images/gallery/slider1.jpg"
          alt="Ice-cream and blueberry"
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="./images/gallery/slider2.jpg#"
          alt="Ice-cream and sweet confetti"
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          src="./images/gallery/slider3.jpg"
          alt="Ice-cream and sweet cherry"
        />
      </div>
    </div>
  </div>
</section>
