<section class="header" id="home">
  <div class="container header__container">
    <a class="header__logo" href="#">
      <picture>
        <source
          srcset="
            ./images/header-hero/logo.png     1x,
            ./images/header-hero/logo-@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/header-hero/logo-tabl-48-44.png 1x,
            ./images/header-hero/logo-tabl-48-44.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/header-hero/logo-mob-40-37.png 1x,
            ./images/header-hero/logo-mob-40-37.png 2x
          "
          media="(min-width: 480px)"
        />

        <img
          srcset="
            ./images/header-hero/logo.png     1x,
            ./images/header-hero/logo-@2x.png 2x
          "
          src="./images/header-hero/logo.png"
          alt="Logo"
          width="60"
          height="65"
        />
      </picture>
    </a>
    <div class="menu-container" id="menu-container" data-menu>
      <a class="header__logo menu-logo" href="#">
        <picture>
          <source
            srcset="
              ./images/header-hero/logo.png     1x,
              ./images/header-hero/logo-@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/header-hero/logo-tabl-48-44.png 1x,
              ./images/header-hero/logo-tabl-48-44.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/header-hero/logo-mob-40-37.png 1x,
              ./images/header-hero/logo-mob-40-37.png 2x
            "
            media="(min-width: 480px)"
          />

          <img
            srcset="
              ./images/header-hero/logo.png     1x,
              ./images/header-hero/logo-@2x.png 2x
            "
            src="./images/header-hero/logo.png"
            alt="Logo"
            width="60"
            height="65"
          />
        </picture>
      </a>

      <nav>
        <ul class="header__list">
          <li class="item"><a href="#home" class="item-link">Home</a></li>
          <li class="item">
            <a href="#about" class="item-link">How it’s made?</a>
          </li>
          <li class="item">
            <a href="#products" class="item-link">Our products</a>
          </li>
          <li class="item"><a href="#Contact" class="item-link">Contact</a></li>
        </ul>
      </nav>
      <button
        class="button hero__button button--full buy-now js-open-modal"
        type="submit"
        data-modal="1"
      >
        <span>Buy now</span>
        <svg width="12" height="12" class="button__icon">
          <use href="./images/icons/icons.svg#icon-button"></use>
        </svg>
      </button>
    </div>
    <div class="header__tablet">
      <button
        type="button"
        class="menu-button"
        aria-expanded="false"
        aria-controls="menu-container"
        data-menu-button
      >
        <svg
          width="32px"
          height="32px"
          class="hiden"
          aria-label="вмикач мобільного меню"
        >
          <use
            class="icon-cros"
            href="./images/icons/icons.svg#icon-close"
          ></use>
          <use
            class="icon-menu"
            href="./images/icons/icons.svg#icon-mob-menu"
          ></use>
        </svg>
      </button>

      <button
        class="button hero__button button--full button-none js-open-modal"
        type="submit"
        data-modal="1"
      >
        <span>Buy now</span>
        <svg width="12" height="12" class="button__icon">
          <use href="./images/icons/icons.svg#icon-button"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
