<section class="heroy">
  <div class="container heroy__container">
    <div class="heroy__left-part">
      <div>
        <h1 class="heroy__title">ice cream made with passion</h1>
        <div class="heroy__buttons">
          <a href="" class="heroy__button"> Products</a>

          <a href="" class="heroy__button privilege"> How it’s made?</a>
        </div>
      </div>
      <div class="heroy__efekt">
        <img
          class="plate"
          width="152"
          height="152"
          src=".\images\header-hero\round-ice-cream.png"
        />
        <div>
          <p class="heroy__inform">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <svg width="40" height="16" class="arrow">
            <use href=".\images\icons\icons.svg#icon-arrow"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="heroy__right">
      <img
        class="img-ice"
        src=".\images\header-hero\main-ice-cream.png"
        srcset="
          .\images\header-hero\main-ice-cream-mob.png 218w,
          .\images\header-hero\main-ice-cream-tab.png 268w,
          .\images\header-hero\main-ice-cream.png     456w
        "
        sizes=" (min-width:1200px) 456px , (min-width:768px) 268px,(min-width:480px) 218px  "
      />
      <div class="heroy__advantage">
        <p class="heroy-number">16</p>
        <p class="heroy-text">cafes</p>
        <p class="heroy-number">23</p>
        <p class="heroy-text">food trucks</p>
      </div>
    </div>
  </div>

  <div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <button type="button" class="button-close" data-modal-close></button>
      <p class="modal__data">Залиште свої дані, ми вам передзвонимо</p>
      <form class="modal__form">
        <label for="name" class="modal__label-modal">Ім'я </label>
        <div class="modal__box-label">
          <input class="modal__rectangle" type="text" name="name" id="name" />
        </div>
        <label for="tel" class="modal__label-modal">Телефон </label>
        <div class="modal__box-label">
          <input class="modal__rectangle" type="text" name="tel" id="tel" />
        </div>
        <label for="mail" class="modal__label-modal">Пошта </label>
        <div class="modal__box-label">
          <input class="modal__rectangle" type="text" name="mail" id="mail" />
        </div>
        <label for="coment" class="modal__label-modal">Коментар </label>
        <div class="modal__box-label coment">
          <textarea
            class="modal__rectangle-coment"
            name="coment"
            id="coment"
            placeholder="Введіть текст"
          ></textarea>
        </div>

        <!---Чекбокс-->

        <div class="terms">
          <label class="terms__label-check">
            <input
              type="checkbox"
              name="checkbox"
              value="check"
              class="terms__checkbox"
            /><span class="terms__check-icon"></span>

            Погоджуюся з розсилкою та приймаю
            <a href="./index.html" class="terms__a-check">Умови договору</a>
          </label>
        </div>
        <button type="submit" class="terms__button-form">Відправити</button>
      </form>
    </div>
  </div>
</section>
