<section class="content">
    <p aria-label="products description">100% natural</p>
    <h1>products</h1>
    <ul class="card-products">
        <li class="card-products__item">
            <article class="products">
                <img src="#" alt="" class="products__img">
              <div class="products__meta">
                <h2 class="products__name">ice cream</h2>
                <p class="products__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
                <button class="products__button"></button>
              </div>
            </article>
        </li>
        <li class="card-products__item">
            <article class="products">
                <img src="#" alt="" class="products__img">
              <div class="products__meta">
                <h2 class="products__name">ice coffee</h2>
                <p class="products__text">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p>
                <button class="products__button"></button>
              </div>
            </article>
        </li>
        <li class="card-products__item">
            <article class="products">
                <img src="#" alt="" class="products__img">
              <div class="products__meta">
                <h2 class="products__name">milkshakes</h2>
                <p class="products__text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice</p>
                <button class="products__button"></button>
             </div>
            </article>
        </li>
    </ul>
</section>