<section class="products" id="products">
    <!-- <include src="./partials/modals/modal-ingridients.html"></include> -->
    <div class="container">
        <p
            class="products__description"
            aria-label="products description"
        >
            100% natural
        </p>
        <h1 class="products__title">products</h1>
        <ul class="card-list products__card-list">
            <li
                class="card-list__item products__ingridients1--position"
            >
                <include
                    src="./partials/modals/modal-ingridients.html"
                ></include>
                <article
                    class="product-card card-list__product-card"
                >
                    <picture class="product-card__img">
                        <source
                            srcset="
                                ./images/products/ice-cream.png     1x,
                                ./images/products/ice-cream-@2x.png 2x
                            "
                            media="(min-width: 1200px)"
                        />
                        <source
                            srcset="
                                ./images/products/ice-cream-tab.png     1x,
                                ./images/products/ice-cream-tab-@2x.png 2x
                            "
                            media="(min-width: 768px)"
                        />
                        <source
                            srcset="
                                ./images/products/ice-cream-mob.png     1x,
                                ./images/products/ice-cream-mob-@2x.png 2x
                            "
                            media="(min-width: 480px)"
                        />
                        <img
                            data-src="./images/products/ice-cream.png"
                            alt=""
                            class="product-card__img lazyload"
                        />
                    </picture>
                    <div class="product-card__meta">
                        <h2 class="product-card__name">
                            ice cream
                        </h2>
                        <p class="product-card__text">
                            Soft ice cream with a delicate
                            taste. Made with milk, cream,
                            sugar and natural stabilizer
                        </p>
                        <button
                            type="button"
                            class="button button__arrow js-open-modal"
                            data-modal="2"
                        >
                            <svg
                                width="40"
                                height="16"
                                class="button__icon"
                            >
                                <use
                                    href="./images/icons/icons.svg#icon-arrow"
                                ></use>
                            </svg>
                        </button>
                    </div>
                </article>
            </li>
            <li
                class="card-list__item products__ingridients2--position"
            >
                <include
                    src="./partials/modals/modal-ingridients2.html"
                ></include>
                <article
                    class="product-card card-list__product-card"
                >
                    <picture class="product-card__img">
                        <source
                            srcset="
                                ./images/products/ice-coffee.png     1x,
                                ./images/products/ice-coffee-@2x.png 2x
                            "
                            media="(min-width: 1200px)"
                        />
                        <source
                            srcset="
                                ./images/products/ice-coffee-tab.png     1x,
                                ./images/products/ice-coffee-tab-@2x.png 2x
                            "
                            media="(min-width: 768px)"
                        />
                        <source
                            srcset="
                                ./images/products/ice-coffee-mob.png     1x,
                                ./images/products/ice-coffee-mob-@2x.png 2x
                            "
                            media="(min-width: 480px) and (max-width: 767px)"
                        />
                        <img
                            src="./images/products/ice-coffee.png"
                            alt=""
                            class="product-card__img lazyload"
                        />
                    </picture>

                    <div class="product-card__meta">
                        <h2 class="product-card__name">
                            ice coffee
                        </h2>
                        <p class="product-card__text">
                            Fragrant invigorating drink
                            created from 100% natural
                            ingredients without the use of
                            preservatives and flavor
                            enhancers
                        </p>
                        <button
                            type="button"
                            class="button button__arrow js-open-modal"
                            data-modal="6"
                        >
                            <svg
                                width="40"
                                height="16"
                                class="button__icon"
                            >
                                <use
                                    href="./images/icons/icons.svg#icon-arrow"
                                ></use>
                            </svg>
                        </button>
                    </div>
                </article>
            </li>
            <li
                class="card-list__item products__ingridients3--position"
            >
                <include
                    src="./partials/modals/modal-ingridients3.html"
                ></include>
                <article
                    class="product-card card-list__product-card"
                >
                    <picture class="product-card__img">
                        <source
                            srcset="
                                ./images/products/milkshake.png     1x,
                                ./images/products/milkshake-@2x.png 2x
                            "
                            media="(min-width: 1200px)"
                        />
                        <source
                            srcset="
                                ./images/products/milkshake-tab.png     1x,
                                ./images/products/milkshake-tab-@2x.png 2x
                            "
                            media="(min-width: 768px)"
                        />
                        <source
                            srcset="
                                ./images/products/milkshake-mob.png     1x,
                                ./images/products/milkshake-mob-@2x.png 2x
                            "
                            media="(min-width: 480px)"
                        />
                        <img
                            src="./images/products/milkshake.png"
                            alt=""
                            class="product-card__img lazyload"
                        />
                    </picture>
                    <div class="product-card__meta">
                        <h2 class="product-card__name">
                            milkshakes
                        </h2>
                        <p class="product-card__text">
                            Sweet drinks based on milk and
                            ice cream, supplemented with
                            syrups, fruits, berries and
                            other sweets of your choice
                        </p>
                        <button
                            type="button"
                            class="button button__arrow js-open-modal"
                            data-modal="7"
                        >
                            <svg
                                width="40"
                                height="16"
                                class="button__icon"
                            >
                                <use
                                    href="./images/icons/icons.svg#icon-arrow"
                                ></use>
                            </svg>
                        </button>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>
