<section>
    <p aria-label="products description">100% natural</p>
    <h1>products</h1>
    <ul class="card-products">
        <li class="card-products__item">
            <article class="products">
                <img src="#" alt="#" class="products__img">
                <h2 class="products__name">ice cream</h2>
                <p class="products__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
                </p>
                <button class="products__button"></button>
            </article>
        </li>
    </ul>
</section>