.backdrop {
    position: fixed;
    opacity: 1;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier($cubicBezier),
        visibility 250ms cubic-bezier($cubicBezier);

    &--is-hidden {
        opacity: 0;
        visibility: collapse;
        pointer-events: none;
        transform: translate(-50%, -50%) scale(0.5);
    }
}