// Util classes // Section Hero

.container {
    // @extend %container;
    @extend %outline;
    display: block;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.button {
    border-radius: 10px;
    font-family: inherit;
        cursor: pointer;
    gap: 7px;
        display: flex;
        align-items: center;
        
        justify-content: center;
}

.button__icon {
    fill: currentColor;
}


.button--full {
    @extend %button-full;
    min-width: 152px;
    padding: 12px;

    @include font(600, 14, 1.2, null);
}

.button--bordered {
    
        min-width: 108px;
        padding: 11px;
    
    @include font(600, 12, 1.2, null);
    @extend %button-bordered;

    @include desktop {
            min-width: 134px;
            padding: 12px;
            @include font(600, 14, 1.3, null);
            &:hover {
                    border: 2px solid $btnHoverColor;
                }
            &:focus {
                border: 2px solid $btnHoverColor;
                color: $txtSecondaryColor;
            }
            &:disabled {
                border: 2px solid $btnDisableColor;
            }
    
     }

}

.button--transparent {

    min-width: 106px;
    padding: 12px;

    @include font(600, 12, 1.25, null);
    @extend %button-transparent;

    @include desktop {
        min-width: 111px;
        @include font(600, 14, 1.2, null);

    }

}

// section Products

.button__arrow {
    color: $btnSecondaryColor;
    background-color: transparent;
    border: none;
    min-width: 150px;
        padding: 12px;
}

// section About

.about__button {
    padding: 12px 34px;
    @include font(600, 14, 1.3, null);
}

// section Contacts

.contacts__button {
    padding: 12px;
    min-width: 196px;
    @include font(600, 14, 1.3, null);
}

// Модалкі

.button__submit {
    min-width: 114px;
    @include font(600, 12, 1.25, null);

    @include tablet {
        min-width: 121px;
        @include font(600, 14, 1.2, null);
    }
}


// contacts
.contacts__button--with-map {
    min-width: 134px;
    @include font(600, 12, 1.25, null);

    @include tablet {
    min-width: 145px;
        @include font(600, 14, 1.2, null);
    }

}


// products
.products__button--with-submit {
    min-width: 132px;
        @include font(600, 12, 1.25, null);
    
        @include tablet {
            min-width: 121px;
            @include font(600, 14, 1.2, null);
        }
}