@media screen and (max-width: 1199px) {
  .menu-container {
    background-color: #84a178;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 2;
  }
  .menu-container.is-open {
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 100px 32px 64px 32px;

    overflow-y: scroll;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .menu-container {
    position: relative;
  }
}
.menu-logo {
  position: absolute;
  top: 7px;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
