@media screen and (max-width: 1199px) {
  .menu-container {
    background-color: #84a178;

    height: auto;
    position: absolute;
    right: 100%;
    bottom: 100px;
    transform: translate(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-container.is-open {
    overflow-x: hidden;
    overflow-y: auto;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 12px 32px 64px 32px;
    transform: translate(0);
    overflow-y: scroll;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .menu-container {
    position: relative;
  }
}
.menu-logo {
  position: absolute;
  top: 7px;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
