.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 0px;
  padding-bottom: 64px;
  width: 100vw;
  height: 100vh;
  // padding: 48px 40px;
  background-color: $themePrimaryColor;
  z-index: 880;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  @media screen and (min-width: 480px) {
    padding-bottom: 88px;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  cursor: url('../images/header-hero/Cursor1.png'), pointer;
  background-color: transparent;
  border: 0px;
  @media screen and (min-width: 480px) {
    top: 14px;
    right: 20px;
  }
  @media screen and (min-width: 768px) {
    top: 19px;
    right: 216px;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-toggle__close {
    position: absolute;
    top: 38px;
    right: 38px;
  }
}
.mobile-menu {
  // display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.mobile-menu__logo {
  margin-bottom: 50px;
  cursor: url('../images/header-hero/Cursor1.png'), pointer;
  @media screen and (min-width: 480px) {
    margin-bottom: 37px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 72px;
  }
}
.mobile-nav {
  @extend %list;

  text-align: center;
  margin-bottom: 110px;
}

.mobile-nav__item {
  margin-bottom: 32px;
}
.mobile-nav__link {
  @extend %link;
  height: 100%;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  color: $txtSecondaryColor;
  cursor: url('../images/header-hero/Cursor1.png'), pointer;
  &:hover {
    color: $txtPrimaryColor;
  }
  @media screen and (min-width: 768px) {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.23;
  }
}
.mobile-nav__button {
  margin: 0 auto;
  width: 152px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
