%h1-modals {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: $txtPrimaryColor;
}

%h2-modals {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: $txtPrimaryColor;
}

.modals-close__button {
  display: block;
  padding: 0;
  border-style: none;
  background-color: transparent;
  line-height: 0;
  cursor: pointer;
  &--position {
    position: absolute;
    right: 12px;
    top: 12px;
  }
}

@import './modals/ingridients';
@import './modals/bynow';
