.navigation__list {
    @extend %list;
    @include flex(flex, null, nowrap, null, center, null);
    gap: 50px;
}

.navigation__link {
    @extend %link;
    height: 100%;
    padding-top: 32px;
    color: $txtPrimaryColor;
    transition: color 250ms cubic-bezier($cubicBezier);

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.navigation__link--active {
    display: flex;
    flex-direction: column;
    color: $accentColor;

    &::after {
        content: '';
        flex-grow: 1;
        width: 100%;
        height: 4px;
        background-color: $accentColor;
        border-radius: 2px;
        margin-top: 28px;
    }
}