.section.about {
  position: relative;
  justify-content: center;
  text-align: center;
  color: $modalBgdColor;
  padding-top: 60px;
  @media screen and (min-width: 480px) {
    .about__container {
      width: 450px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  @media screen and (min-width: 768px) {
    .about__container {
      width: 702px;
    }
  }

  @media screen and (min-width: 1200px) {
    .about__container {
      width: 1200px;
    }
  }
}
.section.about .about__container {
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
.about__slogan {
  max-width: 100%;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 32px;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 479px) {
    flex-direction: column;
    margin: 0 auto;
    width: 210px;
  }
  @media screen and (min-width: 480px) {
    width: 210px;
  }
  @media screen and (min-width: 768px) {
    flex-direction: column;
    width: 454px;
  }

  @media screen and (min-width: 1200px) {
    width: 481px;
  }
}
.about__label {
  font-weight: 800;
  line-height: 1.22;
  margin-bottom: 12px;
  width: 100%;
  @media screen and (max-width: 767px) {
    width: 220px;
    font-size: 18px;
  }
  @media screen and (min-width: 768px) {
    width: 454px;
    margin-bottom: 12px;
    font-size: 22px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }
}
.about__title {
  margin-bottom: 12px;
  width: 200px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  font-family: 'Seymour One';
  font-style: normal;
  @media screen and (max-width: 767px) {
    width: 200px;
    font-size: 30px;
  }
  @media screen and (min-width: 768px) {
    width: 454px;
    margin-bottom: 72px;
    font-size: 34px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}
.about-description__text {
  margin: 0 auto;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.04em;
  line-height: 176%;
  &:not(:last-child) {
    margin-bottom: 4px;
  }

  @media screen and (max-width: 767px) {
    font-size: 12px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  @media screen and (min-width: 768px) {
    text-align: start;
    font-size: 12px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}
.about-description__text--none {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.about-description__content {
  max-width: 100%;
  text-align: center;
}
.about__wrap {
  width: 100%;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    display: flex;
    column-gap: 38px;
  }
  @media screen and(min-width:768px) and (max-width:1199px) {
    margin-bottom: 60px;
  }
}
.about__button {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  color: #000000;
  width: 164px;
  height: 42px;
  display: flex;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: $accentColor;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    margin: 10px auto 50px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 32px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 54px;
  }
}

.about-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  width: 463px;

  @media screen and (max-width: 767px) {
    width: 220px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    margin-right: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 105px;
  }
}
.about__picture--bg {
  margin: 0 auto;
  display: block;
  border-radius: 140px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-image: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
  background-color: $sldrDotColor;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  @media screen and (max-width: 767px) {
    width: 280px;
    margin-bottom: 62px;
    margin-top: 20px;
  }
  @media screen and (min-width: 768px) {
    width: 330px;
    height: 330px;
    border-radius: 165px;
  }
  @media screen and (min-width: 1200px) {
    width: 490px;
    height: 490px;
    padding-right: 109px;
    border-radius: 250px;
  }
}
.about__picture {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    width: 330px;
  }
  @media screen and (min-width: 1200px) {
    width: 490px;
    height: 490px;
  }
}
.about__picture--cow {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  border-radius: 140px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  @extend %mainAnime;
  @media screen and (max-width: 767px) {
    width: 280px;
    position: relative;
    top: 22px;
    &:hover {
      transform: translateY(-22px);
    }
      
    
  }
  @media screen and (min-width: 768px) {
    width: 330px;
    border-radius: 165px;
    top: 26px;
    &:hover {
        transform: translateY(-26px);
      }
  }
  @media screen and (min-width: 1200px) {
    width: 490px;
    height: 490px;
    padding-right: 109px;
    border-radius: 250px;
    top: 39px;
    &:hover {
        transform: translateY(-39px);
      }
    
  }
}

.about__picture--size {
  @media screen and(min-width:480px) {
    max-width: 280px;
  }

  @media screen and(min-width:768px) {
    max-width: 330px;
  }

  @media screen and(min-width:1200px) {
    max-width: 490px;
  }
}
.about__button--svg{

}