.advantages__container {
  margin-bottom: 64px;
  @include tablet {
    margin-bottom: 204px;
  }
}

.advantages__list {
  @extend %list;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include tablet {
    gap: 80px;
    flex-direction: inherit;
  }
  @include desktop {
    gap: 32px;
    padding-top: 60px;
  }
}

.advantages__item { 
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
  gap: 16px;
  @include tablet { 
    gap: 12px;
  }
  @include desktop { 
    gap: 12px;
  }
}


.advantages__title {
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $modalBgdColor;
  padding-top: 66px;
  @include tablet {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.04em;
    padding-top: 82px;
  }
  @include desktop {
    font-size: 58px;
    line-height: 71px;
    letter-spacing: 0.04em;
    padding-top: 90px;
  }
}

.advantages__text {
  font-size: 12px;
  line-height: 170%;
  text-align: center;
  color: $modalBgdColor;
  font-weight: 700;

  width: 238px;
  @include tablet {
    font-weight: 400;
    font-size: 14px;
    line-height: 174%;
    width: 152px;
  }
  @include desktop {
    font-weight: 400;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;
    width: 368px;
  }
}

.advantages__item:not(:last-child) > .advantages__text {
  margin-bottom: 32px;
}

.advantages__item:nth-child(3) > .advantages__text {
  @include tablet {
    margin-bottom: 32px;
  }
}



.advantages__item::before { 
  content: "";
  width: 50px;
  height: 50px;
  background-size: cover;
  position: absolute;
  top: 0;
}

.advantages__item:nth-child(1)::before { 
  background-image: url('../images/advantages/cow.png');
}


.advantages__item:nth-child(2)::before { 
  background-image: url('../images/advantages/weight.png');
}

.advantages__item:nth-child(3)::before { 
  background-image: url('../images/advantages/ice.png');
}

