.container { 
    @extend %container
}

.section-heading {
    display: none;
}

.contact__name {
   list-style: none;
   display: inline-block;
   padding: 0 14px;
    background: $accentColor;
    font-weight: 500;
    font-size: 16px;
  line-height: 140%;
  text-align: center;
  border-radius: 5px;
   margin-bottom: 20px;
   @include tablet { 
    margin-bottom: 32px;
   }
}



 .contact__town { 
    font-weight: 500;
     font-size: 12px;
     line-height: 186%;
     letter-spacing: 0.04em;
     color: $txtPrimaryColor;
     @include tablet { 
        font-size: 14px;
        margin-bottom: 12px;
     }
     @include desktop { 
        font-size: 16px;
        margin-bottom: 8px;
     }
 }

.contact__address { 
    @extend %link;
    font-weight: 500;
 font-size: 12px;
 line-height: 183%;
 letter-spacing: 0.04em;
 color: $milkshakeColor;
 font-style: normal;
 margin-top: 8px;
 @include tablet { 
    font-size: 14px;
    width: 173px;
 }
 @include desktop { 
    line-height: 183%;
 letter-spacing: 0.04em;
    font-size: 16px;
 }
}

.contact__address:hover,
.contact__address:focus {
    text-decoration: underline;
}

.contact__week-first { 
    font-weight: 500;
 font-size: 12px;
 line-height: 186%;
 color: $txtPrimaryColor;
    margin-top: 30px;
    @include tablet { 
        font-size: 14px;
    }
    @include desktop { 
        line-height: 183%;
     letter-spacing: 0.04em;
        font-size: 16px;
     }
}

.contact__week-second { 
    font-weight: 500;
 font-size: 12px;
 line-height: 186%;
 color: $txtPrimaryColor;
    margin-top: 8px;
    @include tablet { 
        font-size: 14px;
    }
    @include desktop { 
        line-height: 183%;
     letter-spacing: 0.04em;
        font-size: 16px;
     }
}

.contact__time { 
    font-weight: 500;
 font-size: 12px;
 line-height: 186%;
 color: $btnDisableColor;
 @include tablet { 
    font-size: 14px;
}
@include desktop { 
    line-height: 183%;
    font-size: 16px;
 }
}

.contact__nav { 
    @extend %list;
    margin-top: 32px;
}


.contact__tel { 
    color: $txtPrimaryColor;
    @extend %link;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    margin-top: 48px;
    @include tablet { 
        font-size: 14px;
        line-height: 150%;
    }
    @include desktop { 
        font-size: 16px;
       line-height: 150%;
    }
}

.contact__mail { 
    color: $txtPrimaryColor;
    @extend %link;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    margin-top: 6px;
    display: block;
    @include tablet { 
        font-size: 14px;
        line-height: 150%;
    }
    @include desktop { 
        font-size: 16px;
       line-height: 150%;
    }
}

.contact__border { 
    border-bottom: 1px solid #E1E1E1;
    width: 216px;
   padding-bottom: 20px;
   @include tablet { 
    width: 173px;
   }
   @include desktop { 
    width: 288px;
   }
}

// .contact__town {
//     margin-top: 20px;
//     font-weight: 500;
//  font-size: 12px;
//  line-height: 186%;
//  letter-spacing: 0.04em;
//  color: $txtPrimaryColor;
// }

// .contact__address { 
//     @extend %link;
//     font-weight: 500;
//  font-size: 12px;
//  line-height: 183%;
//  letter-spacing: 0.04em;
//  color: $milkshakeColor;
//  font-style: normal;
//  margin-top: 8px;
 
// }

// .contact__address:hover,
// .contact__address:focus {
//     text-decoration: underline;
// }

// .contact__worktime { 
//     @extend %list;
//     margin-top: 50px;
//     border-bottom:  1px solid #E1E1E1;
// }

// .contact__item { 
//     font-weight: 500;
//  font-size: 12px;
//  line-height: 186%;
//  color: $txtPrimaryColor;
// }

// .contact__text { 
//     font-style: normal;
//  font-weight: 500;
//  font-size: 12px;
//  line-height: 186%;
//  color: $btnDisableColor;
 
// }

// .contact__nav { 
//     @extend %list;
//     margin-top: 49px;
// }

// .contact__-tel { 
//     color: $txtPrimaryColor;
//     @extend %link;
//     font-weight: 500;
//  font-size: 12px;
//  line-height: 160%;
// }

// .contact__mail { 
//     color: $txtPrimaryColor;
//     @extend %link;
//     font-weight: 500;
//  font-size: 12px;
//  line-height: 160%;
// }

// .contact__titles { 
//     @extend %list;
//     border-bottom:  1px solid #E1E1E1;
    
// }