


.contact {
    position: relative;
        min-height: 1095px;
        
}
.contact__container { 
   
    @extend %container;
  position: absolute;
  top: -400px;
  left: 50%;
  transform: translateX(-50%);
  @include tablet { 
    top: -340px;
  }
   @include desktop { 
    top: -160px;
    padding: 0;
    margin-left: 16px;
    margin-right: 16px;
   }
}



.section-heading {
    display: none;
}

.contact__name {
   list-style: none;
   display: inline-block;
   padding: 0 14px;
    background: $accentColor;
    font-weight: 500;
    font-size: 16px;
  line-height: 140%;
  text-align: center;
  border-radius: 5px;
   margin-bottom: 20px;
   @include tablet { 
    margin-bottom: 32px;
   }
}
 .contact__town { 
    font-weight: 500;
     font-size: 12px;
     line-height: 186%;
     letter-spacing: 0.04em;
     color: $txtPrimaryColor;
     @include tablet { 
        font-size: 14px;
        margin-bottom: 12px;
     }
     @include desktop { 
        font-size: 16px;
        margin-bottom: 8px;
     }
 }
.contact__address { 
    @extend %link;
    cursor: url('../images/header-hero/Cursor1.png'), pointer;
     color: #fcfcfc;
    font-weight: 500;
 font-size: 12px;
 line-height: 183%;
 letter-spacing: 0.04em;
 color: $milkshakeColor;
 font-style: normal;
 margin-top: 8px;
 @include tablet { 
    font-size: 14px;
    width: 173px;
 }
 @include desktop { 
    line-height: 183%;
 letter-spacing: 0.04em;
    font-size: 16px;
 }
}

.contact__address:hover,
.contact__address:focus {
    text-decoration: underline;
}

.contact__week-first { 
    font-weight: 500;
 font-size: 12px;
 line-height: 186%;
 color: $txtPrimaryColor;
    margin-top: 30px;
    @include tablet { 
        font-size: 14px;
    }
    @include desktop { 
        line-height: 183%;
     letter-spacing: 0.04em;
        font-size: 16px;
     }
}

.contact__week-second { 
    font-weight: 500;
 font-size: 12px;
 line-height: 186%;
 color: $txtPrimaryColor;
    margin-top: 8px;
    @include tablet { 
        font-size: 14px;
    }
    @include desktop { 
        line-height: 183%;
     letter-spacing: 0.04em;
        font-size: 16px;
     }
}

.contact__time { 
    font-weight: 500;
 font-size: 12px;
 line-height: 186%;
 color: $btnDisableColor;
 @include tablet { 
    font-size: 14px;
}
@include desktop { 
    line-height: 183%;
    font-size: 16px;
 }
}

.contact__nav { 
    @extend %list;
    margin-top: 32px;
    @include tablet { 
        padding-bottom: 20px;
    }
    @include desktop { 
        padding-bottom: 20px;
    }
}


.contact__tel { 
    color: $txtPrimaryColor;
    @extend %link;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    margin-top: 48px;
    @include tablet { 
        font-size: 14px;
        line-height: 150%;
    }
    @include desktop { 
        font-size: 16px;
       line-height: 150%;
       
    }
}

.contact__mail { 
    color: $txtPrimaryColor;
    @extend %link;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    margin-top: 6px;
    display: block;
    @include tablet { 
        font-size: 14px;
        line-height: 150%;
    }
    @include desktop { 
        font-size: 16px;
       line-height: 150%;
    }
}

.contact__border { 
    border-bottom: 1px solid #E1E1E1;
    width: 216px;
   padding-bottom: 20px;
   @include tablet { 
    width: 173px;
    padding-bottom: 30px;
   }
   @include desktop { 
    width: 288px;
    
   }
}

.btn__container { 
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 15px;
    align-items: center;
    @include tablet { 
        flex-direction: inherit;
        margin-bottom: 40px;
        justify-content: center;
    }
    @include desktop { 
        margin-top: 40px;
        margin-bottom: 120px;
    }
}