/* --- reviews --- */

.reviews {
  display: block;

  max-width: 480px;
  min-width: 320px;

  padding-top: 178px;
  padding-bottom: 417px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  background-image: url(../images/backgrounds/background-mob.png),
    linear-gradient(to right, $modalBgdColor, $modalBgdColor);
  background-position: center bottom;

  &__header {
    @extend %visually-hidden;
  }

  &__slider {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
  }

  &__block {
    text-align: center;
  }

  &__photo {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;
    background-color: #fff;
  }

  &__statement {
    width: 280px;
    height: 256px;
    padding: 35px 39px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 2.58;

    text-align: center;
    border-radius: 10px;
    color: #fcfcfc;

    background-color: rgba(132, 161, 120, 1);
  }

  &__name {
    margin-bottom: 12px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.86;

    color: $txtPrimaryColor;
  }

  .slick-dots {
    position: relative;
    bottom: 0;
    left: 0;
  }

  .slick-dots li {
    width: 12px;
    height: 12px;
    padding: 0;
    margin: 0;
  }

  .slick-dots li + li {
    margin-left: 18px;
  }

  .slick-dots li button:before {
    font-size: 14px;
    line-height: 14px;
    width: 12px;
    height: 12px;
    opacity: 1;
    color: $sldrDotColor;
  }

  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: $themePrimaryColor;
  }
}
