/* --- customers-reviews --- */

.reviews {
  background-color: $modalBgdColor;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/backgrounds/background-mob.png');
  @include retina {
    background-image: url('../images/backgrounds/background-mob-@2x.png');
  }

  @include phone {
    background-image: url('../images/backgrounds/background-mob.png');
    @include retina {
      background-image: url('../images/backgrounds/background-mob-@2x.png');
    }
  }

  @include tablet {
    background-image: url('../images/backgrounds/background-tab.png');
    @include retina {
      background-image: url('../images/backgrounds/background-tab-@2x.png');
    }
  }

  @include desktop {
    background-image: url('../images/backgrounds/background.png');
    @include retina {
      background-image: url('../images/backgrounds/background-@2x.png');
    }
  }
  &__container {
    margin: 0 auto;

    @include phone {
      width: 480px;
    }

    @include tablet {
      width: 769px;
    }

    @include desktop {
      width: 1200px;
    }
  }
  &__wrap {
    display: block;

    width: 100%;
    height: 1037px;

    padding-top: 178px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;

    @include phone {
      height: 1132px;
      padding-top: 257px;
    }

    @include tablet {
      height: 1017px;
      padding-top: 283px;
    }

    @include desktop {
      height: 1053px;
      padding-top: 400px;
    }
  }

  &__header {
    @extend %visually-hidden;
  }

  &__slider {
    position: relative;
    background-color: transparent;
    margin: 0 20px;
  }

  &__block {
    text-align: center;
  }

  &__photo {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;
    background-color: $modalBgdColor;
  }

  &__statement {
    width: calc(100% - 40px);
    padding: 35px 39px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;

    @include font($fw: null, $fs: 12, $lh: 2.55, $ls: null);

    text-align: center;
    border-radius: 10px;

    color: $txtSecondaryColor;
    background-color: $themePrimaryColor;

    @include phone {
      width: 280px;
    }

    @include tablet {
      width: 705px;
      padding: 28px 80px;
      border-radius: 24px;
      @include font($fw: 500, $fs: 14, $lh: 1.86, $ls: 0.04em);
    }

    @include desktop {
      width: 968px;
      padding: 43px 109px;
      @include font($fw: 500, $fs: 16, $lh: 1.86, $ls: 0.04em);
    }
  }

  &__name {
    margin-bottom: 12px;
    @include font($fw: 500, $fs: 20, $lh: 1.86, $ls: null);
    color: $txtPrimaryColor;

    @include tablet {
      margin-bottom: 32px;
      @include font($fw: 500, $fs: 16, $lh: 1.86, $ls: null);
    }
  }

  .slick-dots {
    position: relative;
    bottom: 0;
    left: 0;
  }

  .slick-dots li {
    width: 12px;
    height: 12px;
    padding: 0;
    margin: 0;
  }

  .slick-dots li + li {
    margin-left: 18px;
  }

  .slick-dots li button:before {
    font-size: 14px;
    line-height: 14px;
    width: 12px;
    height: 12px;
    opacity: 1;
    color: $sldrDotColor;
  }

  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: $themePrimaryColor;
  }
}
