/* --- gallery --- */

.gallery {
  &__container {
    position: relative;
    height: 0;
    margin: 0 auto;

    @include phone {
      width: 480px;
    }

    @include tablet {
      width: 769px;
    }

    @include desktop {
      width: 1200px;
    }
  }

  &__header {
    @extend %visually-hidden;
  }

  &__slider {
    position: absolute;

    top: -32px;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 8px;
    overflow: hidden;

    background: $modalBgdColor;

    @media screen and (max-width: 479px) {
      width: calc(100% - 40px);
    }

    @include phone {
      top: -27px;
      width: 440px;
    }

    @include tablet {
      top: -144px;
      width: 704px;
      border-radius: 18px;
    }

    @include desktop {
      top: -160px;
      width: 1013px;
      border-radius: 24px;
    }
  }

  &__picture {
    display: block;

    height: 130px;
    border-radius: 8px;
    overflow: hidden;

    @include phone {
      height: 204px;
      margin-right: auto;
      margin-left: auto;
    }

    @include tablet {
      height: 327px;
      border-radius: 18px;
    }

    @include desktop {
      height: 422px;
      border-radius: 24px;
    }
  }
}
