/* --- gallery --- */

.gallery {
  &__container {
    height: 0;
    padding: 0;
    margin: 0 auto;

    @include phone {
      width: 480px;
    }

    @include tablet {
      width: 768px;
    }

    @include desktop {
      width: 1200px;
    }
  }

  &__header {
    @extend %visually-hidden;
  }

  &__slider {
    width: 100%;
    position: absolute;

    // outline: 2px solid red;

    top: -32px;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 8px;
    overflow: hidden;

    background: transparent;

    @include phone {
      top: -27px;
    }

    @include tablet {
      top: -144px;
      border-radius: 18px;
    }

    @include desktop {
      top: -160px;
      border-radius: 24px;
    }
  }

  &__picture {
    display: block;

    margin: 0 20px;

    // outline: 2px solid blue;

    height: 130px;
    border-radius: 8px;
    overflow: hidden;

    @include phone {
      width: 440px;
      height: 204px;
      margin-right: auto;
      margin-left: auto;
    }

    @include tablet {
      width: 704px;
      height: 327px;
      border-radius: 18px;
    }

    @include desktop {
      width: 1013px;
      height: 422px;
      border-radius: 24px;
    }
  }
}
