.page-header__container {
  position: relative;
  min-height: 50px;
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__button {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    
  }
}