.page-header__container {
  position: relative;
  min-height: 50px;
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__button {
  display: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
<<<<<<< Updated upstream
=======
/*.cursor {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
.cursor2 {
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  border-radius: 50%;
  top: 0;
  left: 0;

  pointer-events: none;
  transform: translate(-50%, -50%);
}*/
>>>>>>> Stashed changes
