.page-header__container {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 87px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
}

.navigation {
  display: none;

  @include desktop {
    display: flex;
  }
}
