.products {
  position: relative;
  padding: 60px 0px;
  height: 1930px;
  background-color: $modalBgdColor;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/backgrounds/background-mob.png');
  @include retina {
    background-image: url('../images/backgrounds/background-mob-@2x.png');
  }

  @include phone {
    height: 1960px;
  }

  @include tablet {
    height: 790px;
    background-image: url('../images/backgrounds/background-tab.png');
    @include retina {
      background-image: url('../images/backgrounds/background-tab-@2x.png');
    }
  }
  @include desktop {
    height: 1050px;
    background-image: url('../images/backgrounds/background.png');
    @include retina {
      background-image: url('../images/backgrounds/background-@2x.png');
    }
  }
}
.products__description {
  margin-bottom: 12px;

  color: $txtPrimaryColor;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @include tablet {
    font-size: 22px;
  }
  @include desktop {
    font-size: 30px;
  }
}
.products__title {
  margin-bottom: 148px;

  color: $txtPrimaryColor;

  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @include tablet {
    font-size: 34px;
  }
  @include desktop {
    font-size: 36px;

    margin-bottom: 303px;
  }
}

.products__card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @extend %list;

  @include tablet {
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
  }

  @include desktop {
    flex-direction: row;
    align-items: flex-start;
    gap: 29px;
  }
}

.card-list__product-card {
  display: flex;
  flex-direction: column;

  position: relative;
  z-index: 0;

  padding: 128px 45px 0px 45px;
  padding-bottom: 0px;
  min-height: 420px;
  max-width: 280px;
  background-color: $iceCreamColor;
  margin: 0 auto;

  text-align: center;
  border-radius: 25px;

  @include phone {
    max-width: 250px;
    min-height: 428px;
    padding: 128px 25px 0px 25px;
  }

  @include tablet {
    max-width: 224px;
    min-height: 428px;
    padding: 123px 26px 0px 26px;
  }

  @include desktop {
    min-width: 370px;
    min-height: 536px;

    padding: 165px 64px 0px 64px;
  }
}

.card-list__product-card::after {
  background-color: rgb(212, 223, 208);

  text-align: center;
  content: '';
  position: absolute;
  top: -89px;
  right: 40px;
  width: 200px;
  height: 200px;

  border-radius: 50%;
  background-image: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);

  @include phone {
    right: 25px;
  }

  @include tablet {
    right: 13px;
  }

  @include desktop {
    width: 302px;
    height: 302px;

    top: -160px;
    right: 33px;
  }
}

.card-list__item:nth-child(2) > .card-list__product-card::after {
  background-color: rgba(248, 210, 78, 0.7);
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}

.card-list__item:nth-child(3) > .card-list__product-card::after {
  background-color: rgba(213, 117, 63, 0.7);
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

.card-list__item {
  @include tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  @include desktop {
    gap: 29px;
  }
}

.card-list__item:not(:last-child) {
  margin-bottom: 168px;
}

.card-list__item:nth-child(2) > .card-list__product-card {
  background-color: $iceCoffeeColor;
}

.card-list__item:nth-child(3) > .card-list__product-card {
  background-color: $milkshakeColor;
}
.product-card__img {
  position: absolute;
  top: -50px;
  right: 20px;
  width: 200px;
  margin: 0 auto;
  @extend %mainAnime;
  z-index: 2;
  &:hover {
    transform: translateY(5.5px);
  }

  @include phone {
    right: 12px;

  }

  @include tablet {
    right: 7px;
  }

  @include desktop {
    width: 302px;
    height: auto;

    top: -89px;
    right: 16px;
    &:hover {
        transform: translateY(9px);
      }
  }
}

.product-card__name {
  margin-bottom: 40px;

  color: $txtPrimaryColor;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.22;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @include tablet {
    font-size: 22px;
  }
  @include desktop {
    font-size: 30px;
  }
}
.product-card__text {
  margin-bottom: 85px;

  width: 200px;
  font-size: 14px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.04em;

  @include phone {
    margin-bottom: 95px;
  }

  @include tablet {
    margin-bottom: 70px;
    width: 172px;
  }

  @include desktop {
    margin: 0px auto;
    margin-bottom: 125px;
    width: 205px;

    font-size: 14px;
    line-height: 1.8;
    line-height: 1.8;
  }
}

.card-list__item:nth-child(2) .product-card__text {
  margin-bottom: 35px;

  @include phone {
    margin-bottom: 45px;
  }

  @include tablet {
    margin-bottom: 20px;
  }

  @include desktop {
    margin-bottom: 100px;
  }
}

.card-list__item:nth-child(3) .product-card__text {
  margin-bottom: 35px;

  @include phone {
    margin-bottom: 45px;
  }

  @include tablet {
    margin-bottom: 45px;
  }

  @include desktop {
    margin-bottom: 100px;
  }
}

.button__arrow {
  margin: 0px auto;

  background-color: transparent;
  border-color: transparent;
}
.button__icon {
  fill: $btnSecondaryColor;
}

.products__ingridients1--position {
  position: relative;
}

.products__ingridients1--position .modal-ingridients {
  top: -50px;
  @include tablet {
    top: -300px;
    left: 158%;
    // transform: translateX(-8%);

    // transform: translate(-8%, 30px);
  }

  @include desktop {
    top: -230px;
  }
}

.products__ingridients2--position {
  position: relative;
}

.products__ingridients2--position .modal-ingridients {
  top: -50px;
  @include tablet {
    top: -300px;
  }

  @include desktop {
    top: -230px;
  }
}

.products__ingridients3--position {
  position: relative;
}
.products__ingridients3--position .modal-ingridients {
  top: -50px;
  @include tablet {
    // right: 50%;
    top: -300px;
    left: -58%;
    // transform: translate(-50%, 30px);
  }

  @include desktop {
    top: -230px;
  }

  // @include desktop {
  //   right: 100%;
  //   transform: translateX(12%);
  // }
}
