.products {
  padding: 60px 0px;
  background-color: #FFFFFF;
  background-image:  url('../images/backgrounds/background-mob.png');
          @include retina{
            background-image:  url('../images/backgrounds/background-mob-@2x.png');
           }
  @include tablet {
            background-image:  url('../images/backgrounds/background-tab.png');
           @include retina{
            background-image:  url('../images/backgrounds/background-tab-@2x.png');
  }
  }
  @include desktop {
           background-image:  url('../images/backgrounds/background.png');
           @include retina{
           background-image:  url('../images/backgrounds/background-@2x.png');
  }
  }
}
.products__description {
  margin-bottom: 12px;

  color: $txtPrimaryColor;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @include tablet{
    font-size: 22px;
  }
  @include desktop{
    font-size: 30px;
  }
}
.products__title {
  margin-bottom: 148px;

  color: $txtPrimaryColor;

  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @include tablet{
    font-size: 34px;
  }
  @include desktop{
    font-size: 36px;
  }
}

.card-list {
}
.products__card-list {
  @extend %list;
}
.card-list__item:not(:last-child) {
  margin-bottom: 168px;
}
.product-card {
  
}
.card-list__product-card {
  padding: 126px 45px 16px 45px;
  min-height: 420px;

  background-color: $iceCreamColor;

  text-align: center;
  border-radius: 25px;
}

.card-list__item:nth-child(2) > .card-list__product-card {
  background-color: $iceCoffeeColor;
}

.card-list__item:nth-child(3) > .card-list__product-card {
  background-color: $milkshakeColor;
}
.product-card__img {
  background-image: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)),;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);

}
.product-card__meta {
}
.product-card__name {
  margin-bottom: 40px;

  color: $txtPrimaryColor;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.22;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @include tablet{
    font-size: 22px;
  }
  @include desktop{
    font-size: 30px;
  }
}
.product-card__text {
  margin-bottom: auto;

  font-size: 14px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.04em;
}
.product-card__button {
 background-color: transparent;
 border-color: transparent;
}
.product-card__icons{
  fill: #131313;
}
